<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.graduation.design.gdmusicserver.dao.ArtistMapper">
  <resultMap id="BaseResultMap" type="com.sam.graduation.design.gdmusicserver.model.pojo.Artist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="artist_name" jdbcType="VARCHAR" property="artistName" />
    <result column="artist_other_name" jdbcType="VARCHAR" property="artistOtherName" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="artist_head_photo_big" jdbcType="VARCHAR" property="artistHeadPhotoBig" />
    <result column="artist_head_photo_small" jdbcType="VARCHAR" property="artistHeadPhotoSmall" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, artist_name, artist_other_name, intro, artist_head_photo_big, artist_head_photo_small, 
    created_time, last_modified_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from artist
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from artist
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.Artist">
    insert into artist (id, artist_name, artist_other_name, 
      intro, artist_head_photo_big, artist_head_photo_small, 
      created_time, last_modified_time, is_delete
      )
    values (#{id,jdbcType=BIGINT}, #{artistName,jdbcType=VARCHAR}, #{artistOtherName,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{artistHeadPhotoBig,jdbcType=VARCHAR}, #{artistHeadPhotoSmall,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastModifiedTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.Artist">
    insert into artist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="artistName != null">
        artist_name,
      </if>
      <if test="artistOtherName != null">
        artist_other_name,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="artistHeadPhotoBig != null">
        artist_head_photo_big,
      </if>
      <if test="artistHeadPhotoSmall != null">
        artist_head_photo_small,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="artistName != null">
        #{artistName,jdbcType=VARCHAR},
      </if>
      <if test="artistOtherName != null">
        #{artistOtherName,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="artistHeadPhotoBig != null">
        #{artistHeadPhotoBig,jdbcType=VARCHAR},
      </if>
      <if test="artistHeadPhotoSmall != null">
        #{artistHeadPhotoSmall,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null">
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.Artist">
    update artist
    <set>
      <if test="artistName != null">
        artist_name = #{artistName,jdbcType=VARCHAR},
      </if>
      <if test="artistOtherName != null">
        artist_other_name = #{artistOtherName,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="artistHeadPhotoBig != null">
        artist_head_photo_big = #{artistHeadPhotoBig,jdbcType=VARCHAR},
      </if>
      <if test="artistHeadPhotoSmall != null">
        artist_head_photo_small = #{artistHeadPhotoSmall,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.Artist">
    update artist
    set artist_name = #{artistName,jdbcType=VARCHAR},
      artist_other_name = #{artistOtherName,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      artist_head_photo_big = #{artistHeadPhotoBig,jdbcType=VARCHAR},
      artist_head_photo_small = #{artistHeadPhotoSmall,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectLikeArtistName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT *
    FROM artist
    <if test="artist_name != null">
      WHERE artist_name LIKE CONCAT('%',#{artist_name,jdbcType=VARCHAR},'%')
    </if>
  </select>
</mapper>