<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.graduation.design.gdmusicserver.dao.LikeCommentMapper">
  <resultMap id="BaseResultMap" type="com.sam.graduation.design.gdmusicserver.model.pojo.LikeComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="like_time" jdbcType="TIMESTAMP" property="likeTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, comment_id, like_time, created_time, last_modified_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from like_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from like_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.LikeComment">
    insert into like_comment (id, user_id, comment_id, 
      like_time, created_time, last_modified_time, 
      is_delete)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{commentId,jdbcType=BIGINT}, 
      #{likeTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}, #{lastModifiedTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.LikeComment">
    insert into like_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="likeTime != null">
        like_time,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="likeTime != null">
        #{likeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null">
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.LikeComment">
    update like_comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="likeTime != null">
        like_time = #{likeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.LikeComment">
    update like_comment
    set user_id = #{userId,jdbcType=BIGINT},
      comment_id = #{commentId,jdbcType=BIGINT},
      like_time = #{likeTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectIsMeLikeComment" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT *
    FROM like_comment
    WHERE user_id = #{user_id,jdbcType=BIGINT}
    AND comment_id = #{comment_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteALikeComment" parameterType="java.lang.Long">
    DELETE FROM like_comment
    WHERE user_id = #{user_id,jdbcType=BIGINT}
    AND comment_id = #{comment_id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteLikeCommentByMusicCommentId" parameterType="java.lang.Long">
    DELETE FROM like_comment
    WHERE comment_id = #{comment_id,jdbcType=BIGINT}
  </delete>
</mapper>