<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.graduation.design.gdmusicserver.dao.UserMusicListMapper">
  <resultMap id="BaseResultMap" type="com.sam.graduation.design.gdmusicserver.model.pojo.UserMusicList">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="music_list_name" jdbcType="VARCHAR" property="musicListName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="generate_time" jdbcType="TIMESTAMP" property="generateTime" />
    <result column="music_list_photo" jdbcType="VARCHAR" property="musicListPhoto" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, music_list_name, user_id, intro, generate_time, music_list_photo, created_time, 
    last_modified_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_music_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_music_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.UserMusicList">
    insert into user_music_list (id, music_list_name, user_id, 
      intro, generate_time, music_list_photo, 
      created_time, last_modified_time, is_delete
      )
    values (#{id,jdbcType=BIGINT}, #{musicListName,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{intro,jdbcType=VARCHAR}, #{generateTime,jdbcType=TIMESTAMP}, #{musicListPhoto,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastModifiedTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.UserMusicList">
    insert into user_music_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="musicListName != null">
        music_list_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="generateTime != null">
        generate_time,
      </if>
      <if test="musicListPhoto != null">
        music_list_photo,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="musicListName != null">
        #{musicListName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="generateTime != null">
        #{generateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicListPhoto != null">
        #{musicListPhoto,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null">
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.UserMusicList">
    update user_music_list
    <set>
      <if test="musicListName != null">
        music_list_name = #{musicListName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="generateTime != null">
        generate_time = #{generateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicListPhoto != null">
        music_list_photo = #{musicListPhoto,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sam.graduation.design.gdmusicserver.model.pojo.UserMusicList">
    update user_music_list
    set music_list_name = #{musicListName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      intro = #{intro,jdbcType=VARCHAR},
      generate_time = #{generateTime,jdbcType=TIMESTAMP},
      music_list_photo = #{musicListPhoto,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>